.turn-card-grid .animating {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.turn-card-grid .cell {
    overflow: hidden;
}
.turn-card-grid .cell .front,
.turn-card-grid .cell .back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.turn-card-grid .cell .front img,
.turn-card-grid .cell .back img {
    width: 150px;
    height: 150px;
    display: block;
    position: absolute;
}
.turn-card-grid .cell .front {
    left: 0;
    cursor: pointer;
}
.turn-card-grid .cell .back {
    right: 0;
}

